<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Chat</title>
  <meta charset="utf-8" />
</head>
<body>
<h1>Peer to Peer Chat program</h1>

<form th:action="@{/enter}" method="post">
  <span>Your username:</span>
  <input type="text" th:value="${user}" name="username"/>
  <input type="submit" value="update"/>
</form>
 <ul>
    <li>App</li>
    <span>Hi there! Submit your message using the send button!</span>
 </ul>
 <ul th:each="message : ${messages}">
   <li th:text="${message.username}"></li>
   <span th:text="${message.text}"></span>
 </ul>
<form th:action="@{/send}" method="post">
  <textarea text="text" name="currentMessage" rows="5" cols="30"></textarea>
  <input type="submit" value="send"/>
</form>
  <a th:href="@{/}">Refresh</a>
</body>
</html>